################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/intermediate/Debug/x86/todcore.tlog/unsuccessfulbuild
/intermediate/Debug/x86/todcore.tlog/todcore.lastbuildstate
/intermediate/Debug/x86/todcore.tlog/CL.command.1.tlog
/intermediate/Debug/x86/todcore.log
/build/msvc/todengine.VC.VC.opendb
/build/msvc/todengine.VC.db
/build/msvc/todengine.sdf
/build/msvc/todcore.vcxproj.user
/build/msvc/Debug/x86/uuid.obj
/build/msvc/Debug/x86/type.obj
/build/msvc/Debug/x86/todcore.tlog/unsuccessfulbuild
/build/msvc/Debug/x86/todcore.tlog/todcore.lastbuildstate
/build/msvc/Debug/x86/todcore.tlog/CL.write.1.tlog
/build/msvc/Debug/x86/todcore.tlog/CL.read.1.tlog
/build/msvc/Debug/x86/todcore.tlog/CL.command.1.tlog
/build/msvc/Debug/x86/todcore.log
/build/msvc/Debug/x86/string.obj
/build/msvc/Debug/x86/singletonmgr.obj
/build/msvc/Debug/x86/serializer.obj
/build/msvc/Debug/x86/scriptmgr.obj
/build/msvc/Debug/x86/property.obj
/build/msvc/Debug/x86/objref.obj
/build/msvc/Debug/x86/object.obj
/build/msvc/Debug/x86/node.obj
/build/msvc/Debug/x86/kernel.obj
/build/msvc/Debug/x86/exception.obj
/build/msvc/Debug/x86/autoreleasepool.obj
/bin/Debug/x86/todcore.pdb
/bin/Debug/x86/todcore.idb
/build/msvc/.vs/todengine/v14/.suo
/bin/Debug/x64/todcore.pdb
/bin/Debug/x64/todgraphics.pdb
/bin/Debug/x64/todgraphics.lib
/bin/Debug/x64/todcore.lib
/build/msvc/x64/Debug
/bin/Debug/x64
/bin/Debug/x64
/bin/Debug/x64/todeditor.pdb
/bin/Debug/x64/todeditor.ilk
/bin/Debug/x64/todeditor.exe
/bin/Debug/x64/todeditor.pdb
/bin/Debug/x64/todeditor.ilk
/bin/Debug/x64/todeditor.exe
/bin/Debug/x64/todeditor.pdb
/bin/Debug/x64/todeditor.ilk
/bin/Debug/x64/todeditor.exe
/build/msvc/todeditor.vcxproj.user
/bin/Debug/x64/todeditor.pdb
/bin/Debug/x64/todeditor.ilk
/bin/Debug/x64/todeditor.exe

*.ilk
*.idb
*.suo
*.obj
*.xpm
*.bkl
*.dsp
*.exe
*.pdb
*.m4
*.tlog
*.exp
*.html
Debug
/external/wxWidgets/include/wx/msw/wince
/external/wxWidgets/include/wx/os2
